body{
	background:url(../../img/demopage/bg.png);
	font-family:"Roboto" , sans-serif;
	font-weight: 300; 
	color:#333;
	text-align:center;
}
h1{
	color:#fff;
	text-align:center;
	font-family:"Roboto" , sans-serif;
}
h2{
	color:#333;
	text-align:center;
	font-family:"Roboto" , sans-serif;
	margin-top:0px;
	margin-bottom:0px;
}
h3{
	margin-bottom:5px;
}
p{
	color:white;
	margin:0px 0px 40px;
}
.clear{
	clear: both;
}
.content{
	background:#fff;
	border-radius:10px;
	margin:0px auto 20px;
	width:600px;
	padding:20px 20px;
	&.instructions{
		width: 600px;
		padding: 20px 20px;
		h2{
			text-align:center;
		}
		h3{
			text-align:center;
		}
	}
	p{
		color:#333;
		margin:0px 0px 10px;
	}
}
.left_side{
	float:left;
	width:280px;
	h3{
		color:#be485e;
	}
}
.right_side{
	float:right;
	width:280px;
	h3{
		color:#007bae;
	}
	
}
pre{
	background:#e5e5e5;
	padding:20px;
	text-align:left;
	border-radius:5px;
}
.clearfix{
	clear:both;
}
.download{
	width:300px;
	border-radius:5px;
	display:block;
	background:#be485e;
	padding:20px 40px;
	font-size:30px;
	color:#fff;
	font-family:"Roboto" , sans-serif;
	font-weight:700;
	text-decoration:none;
	margin:auto;
	-webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    transition:all .2s ease;
	span{
		font-size:10px;
		display:block;
		font-weight:300;
	}
	&:hover{
		background:#007bae;
	}
}

.dev{
	width: 43px;
	height: 23px;
	margin:100px auto 20px;
	display: block;
	background:url(../../img/demopage/mv_logo.png);
	&:hover{
		background:url(../../img/demopage/mv_logo_hover.png);
	}
}

.parent_box2{
	height:150px;
	width:280px;
	overflow:hidden;
	float:left;
	border:4px solid #be485e;
}

.textfit2{
	font-size:150px;
	margin:0px;
	line-height:1;
	text-align:left;
}
.parent_box{
	height:150px;
	width:280px;
	float:right; 
	border:4px solid #007bae;
}

.textfit{
	font-size:150px;
	margin:0px;
	line-height:1;
	text-align:left;
}

